@import './base.css';

main {
  padding: 1rem;
}

a,
.pink {
  text-decoration: none;
  color: #e6007d;
  transition: 0.4s;
  padding: 3px;
}

a {
  word-break: break-word;
}

@media (hover: hover) {
  a:hover {
    background-color: #e6007d;
    color: #ffff;
  }
}
